/* Cookie Clicker CSS */

/* ダブルタップズーム禁止 */
html {
  touch-action: manipulation;
}

/* 大クッキーのデザイン */
.cookie {
  filter: drop-shadow(0px 0px 10px #000000);
}

/* セーブデータ削除ボタンのデザイン */
.savedelbtn {
  width: 30em;
  height:9em;
}

/* セーブデータ削除文字のデザイン */
.savedeltxt {
  font-size: 300%;
}
